<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polo.apollo.dao.system.LogDao">

    <insert id="batchInsert" parameterType="com.polo.apollo.entity.modal.system.LogRecord">
        INSERT INTO t_log_record (uid, name, deleted, create_dt, ip, url, country, region, city, isp)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.uid}, #{item.name}, false, #{item.createDt}, #{item.ip}, #{item.url}, #{item.country}, #{item.region}, #{item.city}, #{item.isp})
        </foreach>
    </insert>
</mapper>
