<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<body>
<div th:fragment="index" class="card hot-tags">
    <div class="card-header">热门标签&nbsp;<i class="c-success fa fa-tags"></i></div>
    <div class="card-body">
        <div class="tag-panel" th:if="${tags != null}">
            <th:block th:each="tag, tagStat : ${tags}">
                <th:block th:unless="${tag.count}">
                    <a class="item" th:href="@{'/tag/'+${tag.name}+'.html'}" th:text="${tag.name}"></a>
                </th:block>
                <th:block th:if="${tag.count}">
                    <a class="item" th:href="@{'/tag/'+${tag.name}+'.html'}"
                       th:text="${tag.name} +'('+${tag.count}+')'"></a>
                </th:block>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>
