<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<body>
<div th:fragment="index" class="card hot-blog">
    <div class="card-header">热门文章&nbsp;<i class="c-danger fa fa-fire"></i></div>
    <div class="card-body" th:if="${hots != null}">
        <a th:each="hot, hotStat : ${hots}" th:href="@{'/blog/'+ ${hot.uid} +'.html'}">
            <div class="hot-blog-item">
                <div class="title" th:text="${hot.name}"></div>
                <div class="meta"
                     th:text="${#dates.format(hot.publishDt, 'yyyy-MM-dd')} + '  阅读('+${hot.readCount}+')'"></div>
            </div>
        </a>
    </div>
</div>
</body>
</html>
