<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<body>
<div th:fragment="index" class="card blog-user">
    <div class="card-body">
        <div style="text-align: center;margin-bottom: 5px">
            <img class="img-avatar img-avatar-64" th:src="@{/static/images/users/avatar.png}"/>
        </div>
        <div class="card-text">
            <p style="text-align: center" th:text="${author.saying}">没有什么能够阻挡</p>
            <p th:if="${author.skills != null}">
                <th:block th:each="skill, skillStat : ${author.skills}">
                    <a class="blog-tag btn-primary">
                        <i class="fa fa-tag"></i>
                        <span th:text="${skill}"></span>
                    </a>
                </th:block>
            </p>
            <div>
                <div class="related">
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:apologizebao@163.com" target="_blank">apologizebao@163.com</a>
                </div>
                <div>
                    <i class="fa fa-github"></i>
                    <a href="https://github.com/7polo" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
