/*主页面需要的*/
.max-width {
    max-width: 1200px;
}

.main {
    padding-top: 20px;
    position: relative;
    margin: 0 auto;
}

.content-wrap {
    width: 100%;
    float: left;
}

.content {
    position: relative;
    margin-right: 340px;
    margin-bottom: 15px;
}

.sidebar {
    height: 200px;
    float: left;
    margin-left: -320px;
    width: 320px;
    position: relative;
}

@media (max-width: 1024px) {
    .content {
        margin-right: 0;
    }

    .sidebar {
        position: relative;
        min-height: 500px;
        margin-right: 380px;
        margin-bottom: 15px;
        width: 100%;
        margin-left: 0;
    }
}

/*热门标签*/
.web-notice, .hot-tags, .friend-links, .hot-blog {
    margin-bottom: 15px;
}

.friend-links a {
    color: #999;
}

.friend-links p {
    margin-bottom: 0;
}

.tag-panel .item {
    color: #999;
    background-color: #f6f6f6;
    border-radius: 3px;
    display: inline-block;
    width: 31%;
    margin: 0 2% 1% 0;
    padding: 0 8px;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
}

.tag-panel .item:hover {
    background-color: #33cabb;
    color: white;
}

/*热门博客*/
.hot-blog .card-body {
    padding: 0;
}

.hot-blog .hot-blog-item {
    border-bottom: solid 1px #eaeaea;
    padding: .5rem .5rem .5rem .7rem;
    font-size: .8rem;
}

.hot-blog .title {
    color: #888;
}

.hot-blog .title:hover {
    color: #33cabb;
}

.hot-blog .meta {
    font-size: 12px;
    color: #bbb;
}

.card.search {
    padding: 15px 10px 10px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}
.related {
    margin-bottom: 5px;
}
.related > i {
    margin-right: 5px;
}
