<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="aside" class="polo-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="/" th:text="${sys != null ?sys.title:''}">Apollo</a>
    </div>
    <div class="sidemenubar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"><a class="multitabs" th:href="@{/admin/index}"><i
                        class="fa fa-home fa-fw"></i> 后台首页</a></li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="fa fa-book"></i> 笔记管理</a>
                    <ul class="nav nav-subnav">
                        <li><a class="multitabs" th:href="@{./admin/note/index}">笔记</a></li>
                        <li><a class="multitabs" th:href="@{./admin/note/blog}">博客</a></li>
                        <li><a class="multitabs" th:href="@{./admin/note/tag}">标签管理</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="fa fa-cog"></i> 系统管理</a>
                    <ul class="nav nav-subnav">
                        <li><a class="multitabs" th:href="@{./admin/system/index}">系统配置</a></li>
                        <li><a class="multitabs" th:href="@{./admin/system/dic}">数据字典</a></li>
                        <li><a class="multitabs" th:href="@{./admin/system/friendlink}">友情链接</a></li>
                        <li><a class="multitabs" th:href="@{./admin/system/log}">日志记录</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>
