<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" th:href="@{/static/favicon.ico}" type="image/ico">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/static/css/common.css}" rel="stylesheet">
    <style>
        /*右边内容区域*/
        .right-main-wrapper {
            height: calc(100% - 15px);
            padding-top: 10px;
        }
        @media (max-width: 576px) {
            .right-main-wrapper {
                padding-top: 55px;
            }
        }
    </style>
</head>
<body>
<div class="container-fluid p-t-15 right-main-wrapper">
    <div layout:fragment="content"></div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    if (!window.utils) {
        utils = parent.window.utils;
        String.prototype.format = utils.format
    }
    var debounce = function (idle, action) {
        var last
        return function () {
            var ctx = this, args = arguments;
            clearTimeout(last);
            last = setTimeout(function () {
                action.apply(ctx, args)
            }, idle)
        }
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div layout:fragment="script"></div>
</body>
</html>
