<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{front/components/layout2}">
<head>
    <title>Apollo 关于</title>
</head>

<body>
<div layout:fragment="content">
    <div style="width: 1000px; margin: 0 auto;">
        <div class="card" style="min-height: 300px;padding: 25px">
            <h5 style="text-align: center">关于本站</h5>
            <p>
                个人的博客知识管理网站， 想实现一个类似于网易云笔记的功能，实现自己的知识库
            </p>
            <p>
                提供 笔记 + 博客 的模式
            </p>
            <p>
                笔记是对内， 博客则侧重于分享， 内容目前采用 markdwon 进行编辑和展示
            </p>
            <img height="500px" src="https://raw.githubusercontent.com/7polo/resources/master/apollo/admin.png">
            <div>
                使用到以下的开源组件：
                <ul>
                    <li>spring boot</li>
                    <li>Mybtatis-Plus</li>
                    <li>Druid</li>
                    <li>thymeleaf</li>
                    <li>BootStrap4</li>
                    <li>JStree (目录树)</li>
                    <li>LightYear</li>
                    <li>等等</li>
                </ul>
                <div>
                    本系统整理后将会在github上放出源代码
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>

