<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{front/layout/layout}">
<head>
    <title th:text="${sys != null ?sys.title:''} + '个人博客'">Apollo</title>
    <bloglist th:replace="~{components/bloglist :: css}"></bloglist>
</head>

<body>
<div layout:fragment="content">

    <th:block if="${carousel != null and carousel.szie() > 0}">
        <div class="card mb10">
            <div class="card-body" style="padding: 0">
                <div id="carouseControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="c, cStat : ${carousel}"
                             th:class="${'carousel-item ' + (cStat.index==0?'active':'')} ">
                            <img class="d-block w-100" th:src="${c.value}" style="height: 200px">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouseControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouseControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </th:block>

<!--    <div class="card search">-->
<!--        <form class="form-inline" id="searchForm" onsubmit="return false">-->
<!--            <input type="text" class="form-control mb-2 mr-sm-2" name="name" placeholder="标题">-->
<!--            <input type="text" class="form-control mb-2 mr-sm-2" name="dirName" placeholder="归档">-->
<!--            <input type="text" class="form-control mb-2 mr-sm-2" name="content" placeholder="内容">-->
<!--            <button id="searchBtn" class="btn btn-icon" style="top: -3px;position: relative;"><i class="fa fa-search"></i></button>-->
<!--        </form>-->
<!--    </div>-->
    <bloglist th:replace="~{components/bloglist :: content}"></bloglist>
</div>

<th:block data-layout-fragment="script">
    <script th:inline="javascript">
        var page = {
            total: [[${blogPage.total}]],
            current: [[${blogPage.current}]],
            size: [[${blogPage.size}]]
        };

        function loadBlog(page, params) {
            var params = params || {};
            params.start = page;
            params.limit = 10;
            // 此处采用工具ajax
            utils.ajax({
                url: '/blog/queryPage',
                data: params,
                success: function (resp) {
                    buildBlogList(resp.data);
                    buildPagin(resp.data, params);
                }
            });
        }

        $(function () {
            $("#searchBtn").click(function () {
                loadBlog(1, utils.formData($("#searchForm")))
            });

            if (page && page.total) {
                buildPagin(page, {})
            }
        });
    </script>
</th:block>
</body>
</html>

