<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{front/layout/layout}">
<head>
    <title th:text="${sys != null ?sys.title:''} + '个人博客'">Apollo</title>
    <bloglist th:replace="~{components/bloglist :: css}"></bloglist>
</head>
<body>
<div layout:fragment="content">

    <th:block if="${carousel != null and carousel.szie() > 0}">
        <div class="card mb10">
            <div class="card-body" style="padding: 0">
                <div id="carouseControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="c, cStat : ${carousel}"
                             th:class="${'carousel-item ' + (cStat.index==0?'active':'')} ">
                            <img class="d-block w-100" th:src="${c.value}" style="height: 200px">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouseControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouseControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </th:block>
    <bloglist th:replace="~{components/bloglist :: content}"></bloglist>
    <page th:replace="~{components/pagination :: page_pager(${blogPage.current}, 0, ${T(Math).ceil(1.0*blogPage.total/blogPage.size).intValue()}, ${''})}"></page>
</div>
</div>
</body>
</html>

