<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="icon" th:href="@{/static/favicon.ico}" type="image/ico">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/static/css/common.css}" rel="stylesheet">
    <link th:href="@{/static/css/front.css}" rel="stylesheet">
    <link th:href="@{/static/css/perfect-scrollbar.css}" rel="stylesheet">
    <th:block th:if="${sys != null}">
        <meta name="keywords" th:content="${sys.keyword}"/>
        <meta name="description" th:content="${sys.description}"/>
    </th:block>
</head>
<body>
<div class="polo-contanier">
    <navbar th:replace="~{front/components/navbar :: navbar}"></navbar>
    <div class="container-fluid main max-width">
        <div class="content-wrap">
            <div class="content">
                <div layout:fragment="content"></div>
            </div>
        </div>
        <div class="sidebar">
            <user-card th:replace="~{front/components/user-card :: index}"></user-card>

            <hot-tags-card th:replace="~{front/components/hot-tags-card :: index}"></hot-tags-card>

            <md-doc-card th:replace="~{front/components/md-doc-card :: index}"></md-doc-card>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/lib/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/utils.js}"></script>
<script>

    // 滚动悬浮md-doc
    function doScrollFixed(scrollCmp) {
        var el = $(".md-doc-wrapper");
        scrollCmp.addEventListener('ps-scroll-y', function (e) {
            if (this.scrollTop > 510) {
                el.addClass("fixed")
            } else {
                el.removeClass("fixed")
            }
        });
    }

    $(function () {
        initSearch();
        var scrollCmp = document.querySelector(".polo-contanier");
        new PerfectScrollbar(scrollCmp, {
            swipeEasing: true,
            wheelSpeed: 2,
            suppressScrollX: true
        });

        doScrollFixed(scrollCmp);
    })
</script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
